{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dates.css') }}">
{% endblock %}

{% block content %}

<div id="content">
    <h1>по датам</h1>
    <form method="post">
        <div class="buttons-container">
            <button type="submit" name="date" value="all_dates">по всем датам</button>
            {% for date in dates %}
            <button type="submit" name="date" value="{{ date }}">{{ date }}</button>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}