{% extends 'base.html' %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
{% endblock %}

{% block content %}
<div class="content">
    <h1>ввод</h1>
    <div id="forms">
        <form method="post">
            <label class="label">количество комнат на этаже: </label>
            <input type="number" name="roomPerFloor" required><br>

            <label class="label">количество окон для каждой комнаты на этаже (формата 3 2 1): </label>
            <input type="text" name="windowsPerRoom" required><br>

            <label class="label">информация о горящих окнах (формата [[false, true], [true, false]]) </label>
            <input id="input" type="text" name="lightInfo" required><br>

            <input type="submit"><br>
        </form>
    </div>
</div>
{% endblock %}